# SE DEBE CREAR UN ARCHIVO .ENV

# Ejemplo de URI: 'servicioBD://usuario1:contraseña@host:puerto/nombre_de_base_de_datos'
# Por ejemplo, para PostgreSQL: 'postgresql://root:1234@localhost:5432/BD-ejemplo'
# Para SQLite: 'sqlite:///db.sqlite3'
# Para MySQL: 'mysql://root:1234@localhost:3306/BD-ejemplo'

SQLALCHEMY_DATABASE_URI_DEV = 'YOUR URI'
# SQLALCHEMY_DATABASE_URI_PROD = 'YOUR URI'
SQLALCHEMY_TRACK_MODIFICATIONS = 'False'
JWT_SECRET_KEY = 'yoursecret'
FLASK_APP = app.py
FLASK_ENV_DEV = 'development'
# FLASK_ENV_PROD = 'production'
FLASK_DEBUG = True
# FLASK_DEBUG_PROD = False
FLASK_RUN_PORT = FLASK_PORT
PGUSER=PGUSER
PGPASSWORD=PGPASSWORD
